:root {
  --main-bg-color: #00072D;
  --secondary-bg-color: #001C55;
  --tetiary-bg-color: #0A2472;
  --supplementary-bg-color: #0E6BA8;
  --main-hover-color: #A6E1FA;
  --main-text-color: white;
}


/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*******************************************************
 * 
 *  Header & Nav
 * 
 ******************************************************/

/* Nav */
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  margin-bottom: 100px;
  position: sticky;
  top: 0;
  z-index: 100;
  
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  margin: 0.8cm;
  color: var(--main-text-color);
}

nav ul li a:hover{
  color: var(--main-hover-color);
}

/* Logo */

.logo{
  width: 5%;
}

.logo > img {
  width: 100%;
  border-radius: 50%;
}

/* Header */
.header {
  color: var(--main-text-color);
  margin-bottom: 100px;
  margin-left: 14%;
}

/* Resume button */
button {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  box-shadow: 3px 3px 2px 0px rgba(61, 101, 128, 1);
  padding: 2px;
}


/*******************************************************
  * 
  *  Main
  * 
******************************************************/

.main {
  color: var(--main-text-color);
  width: 100vh;
  margin: 0 auto;
}

.main > p {
  text-align: center;
  margin-bottom: 40px;
}

body {
  background-color: var(--secondary-bg-color);
}

/* About Me Section */

.image > img{
  width: 100px;
}

#aboutme{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  scroll-margin: 150px;
}

#resumelay{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
  scroll-margin: 150px;
}

/* Projects Section */

#resumelay > hr{
  height: 300px;
}

#projects{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 100px;
  scroll-margin: 150px;
}


.desc {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.imgs{
display: flex;
flex-direction: column;
row-gap: 50px;
}

/* Others Section */

#others {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
  margin-bottom: 100px;
  scroll-margin: 150px;
}


/*******************************************************
  * 
  *  Footer
  * 
******************************************************/

footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
}

.contact ul {
  list-style: none;
  display: flex;
}


.contact ul li a {
  text-decoration: none;
  margin: 0.4cm;
  color: var(--main-text-color);
}